<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Id="TokenFactory.Cellm" Name="Cellm" Manufacturer="Token Factory A/S" Version="0.3.0" Scope="perUser" InstallerVersion="500" Language="1033" >
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    <Media Id="1" Cabinet="Cellm.cab" EmbedCab="yes" />
    <Feature Id="Main">
      <ComponentRef Id="CellmAddIn" />
      <ComponentRef Id="CellmAddInOffice12RegistryKey" />
      <ComponentRef Id="CellmAddInOffice14RegistryKey" />
      <ComponentRef Id="CellmAddInOffice15RegistryKey" />
      <ComponentRef Id="CellmAddInOffice16RegistryKey" />
    </Feature>
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <Property Id="OFFICE12INSTALLED">
      <RegistrySearch
        Id="Office12RegistrySearch"
        Root="HKLM"
        Key="SOFTWARE\Microsoft\Office\12.0\Excel\InstallRoot"
        Name="Path"
        Type="raw" />
    </Property>
    <Property Id="OFFICE14INSTALLED">
      <RegistrySearch 
        Id="Office14RegistrySearch" 
        Root="HKLM"
        Key="SOFTWARE\Microsoft\Office\14.0\Excel\InstallRoot"
        Name="Path"
        Type="raw" />
    </Property>
    <Property Id="OFFICE15INSTALLED">
      <RegistrySearch 
        Id="Office15RegistrySearch" 
        Root="HKLM"
        Key="SOFTWARE\Microsoft\Office\15.0\Excel\InstallRoot"
        Name="Path"
        Type="raw" />
    </Property>
    <Property Id="OFFICE16INSTALLED">
      <RegistrySearch
        Id="Office16RegistrySearch"
        Root="HKLM"
        Key="SOFTWARE\Microsoft\Office\16.0\Excel\InstallRoot"
        Name="Path"
        Type="raw" />
    </Property>
  </Package>
</Wix>
