<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component Id="CellmAddIn" Guid="7F69A50A-AB19-43C1-8619-298EC8DE1B33">
        <File Id="CellmAddIn64PackedXll" Name="Cellm-AddIn64-packed.xll" Source="..\Cellm\bin\$(Configuration)\net9.0-windows\publish\Cellm-AddIn64-packed.xll" Vital="yes"/>
		<File Id="AppSettings" Name="appsettings.json" Source="..\Cellm\bin\$(Configuration)\net9.0-windows\appsettings.json" Vital="yes" />
		<RegistryKey Root="HKCU" Key="Software\TokenFactory\Cellm">
          <RegistryValue Type="string" Name="CellmInstalled" Value="yes" KeyPath="yes" />
        </RegistryKey>
        <RemoveFolder Id="RemoveInstallFolder" On="uninstall" />
      </Component>

      <Component Id="CellmAddInOffice12RegistryKey" Guid="640BAB77-E3B0-48D9-B484-DEB722E9368C" Condition="OFFICE12INSTALLED">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Office\12.0\Excel\Options">
          <RegistryValue Type="string" Name="[Office12NextOpen]" Value="/R [INSTALLFOLDER]Cellm-AddIn64-packed.xll" KeyPath="yes" />
        </RegistryKey>
      </Component>

      <Component Id="CellmAddInOffice14RegistryKey" Guid="FFAD6308-F358-4818-A1A6-CEDCA896E407" Condition="OFFICE14INSTALLED">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Office\14.0\Excel\Options">
          <RegistryValue Type="string" Name="[Office14NextOpen]" Value="/R [INSTALLFOLDER]Cellm-AddIn64-packed.xll" KeyPath="yes" />
        </RegistryKey>
      </Component>

      <Component Id="CellmAddInOffice15RegistryKey" Guid="376DB1F7-A73F-40D1-B41E-4F2B1630D711" Condition="OFFICE15INSTALLED">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Office\15.0\Excel\Options">
          <RegistryValue Type="string" Name="[Office15NextOpen]" Value="/R [INSTALLFOLDER]Cellm-AddIn64-packed.xll" KeyPath="yes" />
        </RegistryKey>
      </Component>

      <Component Id="CellmAddInOffice16RegistryKey" Guid="306A0B8C-333D-464D-A8FF-847699E6DB6F" Condition="OFFICE16INSTALLED">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Office\16.0\Excel\Options">
          <RegistryValue Type="string" Name="[Office16NextOpen]" Value="/R [INSTALLFOLDER]Cellm-AddIn64-packed.xll" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </ComponentGroup>

    <netfx:DotNetCompatibilityCheck Property="DOTNETRUNTIMECHECK" RollForward="major" Platform="x64" RuntimeType="desktop" Version="9.0.0" />
    <Launch Condition="Installed OR DOTNETRUNTIMECHECK=0" Message="Cellm requires .NET 9 x64 or greater. Download the .NET 9 x64 Desktop Runtime from https://dotnet.microsoft.com/." />
    <Launch Condition="Installed OR OFFICE12INSTALLED OR OFFICE14INSTALLED OR OFFICE15INSTALLED OR OFFICE16INSTALLED" Message="Cellm requires Microsoft Excel to be installed. Please install Microsoft Office or Microsoft 365 and try again." />
  </Fragment>
</Wix>
